@import url(../all/font-awesome.css);
@import url(../all/Poppins/poppins.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ;
    text-decoration: none;
}
body{
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a73fe;
    overflow: hidden;
}
/*? Elements styling */
a, button{
    color: #2a73fe;
}
button{
    background: none;
    border: none;
    overflow: hidden;
}
i{
    width: 30px;
    height: 30px;
}
/* Les svg */
.fatxt{
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.fa{
    color: #2a73fee0 !important;
}

/*? Subtitle styling */
video::cue{
    opacity: 0;
}
mark{
    background: rgba(0, 0, 0, 0.667);
    color: #fff;
}
.caption_text{
    position: absolute;
    left: 50%;
    bottom: 65px;
    width: 90%;
    max-width: 90%;
    transform: translateX(-50%);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    transition: bottom 0.3s;
}
.caption_text.active{
    bottom: 7px;
}
.closed-caption.active{
    border-bottom: 3px solid crimson;
}
.closed-caption.disabled{
    opacity: 0.4;
    pointer-events: none;
}
/*? Video player styling */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.container #video_player{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px #ffffff3d;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
    background: #000;
    overflow: hidden;
}
/* todo: thumbnails styling */
.container #video_player .thumbnail{
    position: absolute;
    bottom: 70px;
    left: calc(var(--x) + 11px);
    transform: translateX(-50%);
    width: 165px;
    height: 90px;
    background: #000;
    border: 2px solid #2a73fe;
    border-radius: 5px;
    display: none;
  }
/* todo: Video styling */
.container #video_player #main-video{
    position: relative;
    width: 100%;
    height: auto;
    outline: none;
}
/* todo: Progress area time styling */
#video_player .progressAreaTime{
    position: absolute;
    left: var(--x) ;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    min-width: 50px;
    padding: 2.5px 5px;
    color: #fff;
    font-size: 14px;
    background: #2a73fe;
    border-radius: 5px;
    z-index: 1;
    bottom: 60px;
    display: none;
}
#video_player .progressAreaTime::before{
    content: '';
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #2a73fe;
    width: 15px;
    height: 15px;
    z-index: -1;
}
#video_player .progressAreaTime.thumb{
    left: calc(var(--x) + 7px);
    bottom: 45px;
    background: none;
}
#video_player .progressAreaTime.thumb::before{
    background: none;
}
#video_player .tut{
    position: absolute;
    left: var(--xd);
    transform: translateX(-30%);
    padding: 5px 10px;
    color: #ffffff;
    background: #1f1d19cc;;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 4px;
    z-index: 1;
    bottom: 60px;
    visibility: hidden;
}
#video_player .tut.on{
    visibility: visible;
}
#video_player .webicon{
    position: absolute;
    width: 90px;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.2s;
    pointer-events: none;
}
#video_player .webicon.active{
    opacity: 0;
}
/*! Controls styling */
.container #video_player .controls{
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #0000007a;
    box-shadow:  0 0 40px 10px #00000040;
    z-index: 3;
    transform: translateY(46.5px);
    transition:  0.3s;
}
.container #video_player .controls.active{
    transform: translateY(0);
}
.container #video_player .controls.active .progress-area{
    background: #f0f0f07c;
}
.container #video_player .controls .progress-area{
    width: 100%;
    height: 5px;
    margin: auto;
    background: #00000077;
    cursor: pointer;
    transition: 0.3s;
}
.controls .progress-area .progress-bar{
    position: relative;
    width: 0%;
    background: #2a73fee0;
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
    transition: 20ms;
}
.controls .progress-area .bufferedBar{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: inherit;
    z-index: -1;
}
.controls .progress-area:hover .progress-bar::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    background: #2a73fe;
    top: 50%;
    transform: translateY(-50%);
}
.controls .controls-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 97%;
    height: 46px;
    margin: 0 auto;
}
.controls .controls-list .controls-left, .controls .controls-list .controls-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .controls-left .timer{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 5px;
    text-align: center;
}
.controls .fatxt{
    font-size: 26px;
    cursor: pointer;
}
.controls .kom{
    height: 40px;
    cursor: pointer;
}
.controls .fa-expand{
    margin-top: 10px !important;
}
.controls .kom-exit-fullscreen{
    margin-top: 10px;
}
.controls .skip-back:active{
    transform: rotate(-45deg);
}
.controls .skip-fore:active{
    transform: rotate(45deg);
}
.controls .volume_range{
    width: 0;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #080808;
    border-radius: 5px;
    margin-left: 7px;
    box-shadow: inset 0 0 3px #2a73fee0;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
}
.volume_range{
    width: 30px;
    text-align: left;
}
.volume-container{
    display: flex;
    align-items: center;
}
.volume_range-muted-icon{
    transition: .5s;
}
.controls .volume-container .volume_range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2a73fee0;
    cursor: pointer;
    border: 2px solid #000;
    box-shadow: -100px 0 0 95px #2a73fee0;
}
.controls .volume-container:hover .volume_range{
    width: 100px;
}
.controls .icon:hover .volume_range::-webkit-slider-thumb{
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}
.controls    #vol-value{
    width: 50px;
    text-align: center;
    color: #2a73fee0;
    font-weight: 500;
    cursor: pointer;
}
.controls-right .auto-play{
    width: 30px;
    height: 12px;
    border-radius: 20px;
    position: relative;
    margin-right: 8px !important;
    background: #808080cc;
    font-size: 10px;
    font-size: 0.8em;
}
.controls-right .auto-play::before{
    content: '\f04c';
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    aspect-ratio: 1;
    line-height: 17px;
    font-size: 10px;
    font-size: 0.8em;
    color: #fff;
    background: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: "Font awesome 6 Free";
    padding: 1px;
    cursor: pointer;
}
.controls-right .auto-play.active::before{
    content: '\f04b';
    left: 15px;
    padding-left: 3px;
    font-family: "Font awesome 6 Free";
    color: #000;
    background: #fff;
}
/* Settings styling */
.settingsBtn{
    font-size: 24px;
    transition: 0.3s;
} 
.settingsBtn.active{
    transform: rotate(45deg);
}
.icon{
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.video_player .settings{
    position: absolute;
    right: 10px;
    bottom: 65px;
    display: none;
    z-index: 20;
}
.video_player .context-menu{
    position: absolute;
    left: var(--x-left);
    top: var(--y-top);
    display: none;
    z-index: 20;
}
.video_player .settings.active, .video_player .context-menu.active{
    display: block;
}
.video_player .settings .wrapper,
.video_player .context-menu .wrapper{
    display: flex;
    justify-content: space-between;
    width: 200px;
    background: #1c1c1ccc;
    border-radius: 5px;
    padding: 5px 1px;
    white-space: nowrap;
    overflow: hidden;
}
.video_player .context-menu .wrapper{
    width: 250px;
}
.video_player .settings .wrapper ::-webkit-scrollbar,
.video_player .context-menu .wrapper ::-webkit-scrollbar{
    appearance: none;
    background: transparent;
    width: 5px;
    height: 5px;
}
.video_player .settings .wrapper ::-webkit-scrollbar-thumb,
.video_player .context-menu .wrapper ::-webkit-scrollbar-thumb{
    appearance: none;
    background: cornsilk;
    border-radius: 3px;
}
.video_player .settings .wrapper .drop,
.video_player .context-menu .wrapper .drop{
    transition: 0.2s;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.video_player .settings .wrapper .drop.active{
    display: block;
}
.video_player .settings .wrapper ul,
.video_player .context-menu .wrapper ul{
    list-style: none;
    width: 200px;
    transition: 0.2s;
}
.video_player .context-menu .wrapper ul{
    width: 280px;
    font-size: 1em;
}
.video_player .settings .wrapper ul li,
.video_player .context-menu .wrapper ul li{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.8em;
    color: #fff8dc;
    cursor: pointer;
}
.video_player .context-menu .wrapper ul li{
    word-break: break-all;
}
.video_player .settings .wrapper ul li:hover,
.video_player .context-menu .wrapper ul li:hover{
    background: #878787e6;
}
.video_player .settings .wrapper .label{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    color: #fff8dc;
    font-size: 1em;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.video_player .settings .wrapper ul .myicons{
    margin-right: 10px;
}
.video_player .settings .wrapper ul li.active .check::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '\f058';
    font-family: "Font Awesome 6 Free";
}
.video_player .settings .wrapper ul li .arrow{
    position: absolute;
    right: 5px;
    pointer-events: none;
    width: 17px;
    height: 17px;
}
.back-icon{
    width: 25px;
    height: 25px;
    display: flex;
}
.video_player .settings .wrapper .drop .back-icon{
    padding-left: 10px;
}
.video_player .settings .wrapper .drop span{
    margin-right: 15px;
}
.ochovid a{
    font-weight: 700;
    color: #fff;
}
/* todo: Spinner styling */

.loader {
    --uib-size: 100px;
    --uib-speed: 2s;
    --uib-color: #2a73fe;
    position: absolute;
    top: calc(50% - (var(--uib-size) / 2));
    left: calc(50% - (var(--uib-size) / 2));
    height: var(--uib-size);
    width: var(--uib-size);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
  }
  
  .loader circle {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 3;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes stretch {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dashoffset: -124px;
      }
  }
/*? Footer styling */
footer{
    position: fixed;
    padding: 5px 8px;
    background: #1b1b1a91;
    background: linear-gradient(to bottom, #1b1b1af8, #1b1b1a86, transparent);
    width: 100%;
    color: #fff;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    visibility: hidden;
    transition: 0.2s;
}
footer img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
body:has(.controls.active) footer{
    visibility: visible;
}
/*! Light mode only styling*/
@media (prefers-color-scheme: light) {
    body{
        background: #fff;
    }
    #video_player .tut{
        color: #000;
        background: #ffffffe3;
    }
}
@media(max-width: 435px){
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controls .icon{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 2px;
    }
    .tut, #vol-value, .auto-play, .volume_range, .picture-in-picture,
    .skip-back, .skip-fore, .closed-caption{
        display: none;
    }
    .video_player .settings .wrapper .drop, 
    .video_player .settings .wrapper .menu-bar,
    .video_player .settings .wrapper .context-menu-bar{
        max-height: 100px;
        overflow-y: scroll;
    }
}
@media(max-width: 250px){
    .volume-container, .toggleFullscreen{
        display: none;
    }
}