.imgBx{
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgBx img{
    height: 100%;
    aspect-ratio: 16/9;
    border: 2px solid #fff;
}
@media (prefers-color-scheme: light) {
    .imgBx img{
        border: 3px solid #000;
    }
}