@import url(../all/Poppins/poppins.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    box-sizing: border-box;
    --txt: #2a73fe ;
}
body{
    background: #0a0a0a;
}
.content{
    background: inherit;
    top: 0;
}
.message h3{
    width: 100%;
    text-align: center;
    color: var(--txt);
}
.grid{
    position: absolute;
    top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
    min-width: 270px;
    width:100%;
    background: inherit;
    padding: 30px 0;
    overflow-y: scroll;
    transition: 0.5s;
}
.grid.search{
    top: 100px;
}
.grid.mobile:not(.search){
    top: 50px;
    bottom: 50px;
}
.links{
    width: 100%;
    height: 100%;
    background: inherit;
}
.links .thumbNails{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    transition: border-radius 0.2s;
}
.grid .links .thumbNails.playing{
    color: var(--txt);
    position: relative;
    height: auto;
    border-radius: 2px;
    outline: 2px solid orangered;
    background: inherit;
    transition: border-radius 0.3s;
    z-index: 2;
}
.links .thumbNails.playing .mini-player{
    display: flex;
}
.links .auteur{
    display: flex;
    gap: 0.3em;
    font-size: 0.7em;
    text-decoration: none;
    color: var(--txt);
}
.links a{
    color: var(--txt);
}
.links a:has(.mini-player){
    border-radius: inherit;
    position: relative;
    display: block;
    width: 100%;
}
.links:has(.playing) a .progress-bar{
    width: 100%;
    height: 4px;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    background: #ffffff49;
    cursor: pointer;
    z-index: 200;
}
.links:has(.playing) a .progress{
    width: 0;
    height: 100%;
    background: var(--txt);
    position: relative;
}
.links:has(.playing) a .progress-bar:hover .progress::before{
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 7px);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: inherit;
    border-radius: 50%;
}
.links a .mini-player{
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background: #000;
    overflow: hidden;
}
.links a .mini-player img{
    height: 100%;
    width: 100%;
}
.links a .mini-player video{
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
}
.thumbNails.playing a .mini-player video{
    visibility: visible;
}
.thumbNails.playing a .mini-player img{
    display: none;
}
.thumbNails a .buttons{
    position: absolute;
    top: 0;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    visibility: hidden;
}
.thumbNails.playing a .buttons{
    visibility: visible;
}
.thumbNails a button{
    border: none;
    outline-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 23px;
    aspect-ratio: 1;
    background: #2a74feb2;
    color: #000;
    cursor: pointer;
    z-index: 2;
}
.thumbNails a button:not(.sound):before{
    content: attr(data-time);
    position: absolute;
    left: 35px;
    padding: 0 5px;
    background: inherit;
    border-radius: 2px;
    z-index: 3;
}
.thumbNails a button.active::before{
    content: attr(title);
}
.thumbNails a button.waiting::before{
    content: '';
    height: 17px;
    width: 17px;
    padding: 0;
    border: 2px solid transparent;
    border-left: 2px solid var(--txt);
    border-right: 2px solid var(--txt);
    background: transparent;
    animation: rotate .6s linear infinite;
    border-radius: 50%;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.thumbNails a button.sound{
    display: block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    border-radius: 5px;
}
.thumbNails a button.sound::before{
    content: attr(title);
    position: absolute;
    right: 35px;
    padding: 0 5px;
    background: inherit;
    border-radius: 2px;
    transition: 0.5s;
    z-index: 3;
}
.thumbNails a button.sound.on::before{
    content: '';
    padding: 0;
}
.links .vidInf{
    display: flex;
    margin: 5px;  
}
.links .vidInf .avatar2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}
.links .vidInf img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.links .vidInf .textInf{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    max-width: calc(100% - 60px);
}
@media (prefers-color-scheme: light) {
    body{
        background: #fff;
    }
    .thumbNails a button{
        border: 1px solid #fff;
        color: #fff;
    }
    .links a img{
        box-shadow: 0 0 5px #000;
    }
}
@media (max-width:600px) {
    .links a img{
        width: 100%;
        height: auto;
    }
    .grid{
        grid-template-columns: repeat(auto-fill, 350px);
    }
    .links .vidInf .avatar2{
        height: 50px;
        width: 50px;
    }
}
@media (max-width:500px) {
    .grid{
        padding: 0 0 30px 0;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .links .thumbNails{
        border-radius: 0;
    }
    .grid .links .thumbNails.playing,.grid.search .links .thumbNails.playing{
        border-radius: 2px;
        outline: 0;
    }
    .links:has(.playing) a .progress-bar .progress::before{
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% - 7px);
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background: inherit;
        border-radius: 50%;
    }
    .links a img{
        box-shadow: 0 0 5px transparent;
    }
    .links .vidInf .avatar2{
        height: 40px;
        width: 40px;
    }
    .thumbNails.playing a .mini-player button{
        transition: 0s;
    }
}