.profileBx{
    position: absolute;
    top: 80px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--clr);
}
.profileBx .profileImg{
    width: 150px;
    aspect-ratio: 1;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.profileBx .profileImg:hover{
    border: 3px solid tan;
    border-radius: 5px;
}
.profileBx a{
    color: inherit;
}
.date{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-height: 40px;
} 
.date img{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}
.bottom img{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}