@import url(../all/Poppins/poppins-light.css);
.icon{
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
video{
    width: 100%;
}
.icon{
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.container{
    position: relative;
    height: 50vh;
    background: #0b75ff;
}
.settings{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}
.settings.active{
    display: block;
}
.settings .wrapper{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    width: 200px;
    background: #1c1c1ccc;
    border-radius: 5px;
    overflow: hidden;
}
.settings .wrapper .drop{
    white-space: wrap;
    display: none;
    transition: 0.2s;
    max-height: 200px;
}
.settings .wrapper .drop.active{
    display: block;
}
.settings .wrapper ul{
    list-style: none;
    width: 200px;
    padding: 0 10px;
    transition: 0.2s;
}
.settings .wrapper ul li{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 0 5px;
    color: #0b75ff;
    cursor: pointer;
}
.settings .wrapper ul li:hover{
    background: #1c1c1ce6;
}
.settings .wrapper ul .label{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    color: #0b75ff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.settings .wrapper ul .myicons{
    margin-right: 10px;
}
.settings .wrapper ul li.active .check::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '\f058';
    font-family: "Font Awesome 6 Free";
}
.settings .wrapper ul li .arrow{
    position: absolute;
    right: 5px;
    pointer-events: none;
    width: 17px;
    height: 17px;
}
.back-icon{
    width: 25px;
    height: 25px;
}
.settings .wrapper .drop .back-icon{
    padding-left: 10px;
}
.settings .wrapper .drop span{
    margin-right: 15px;
}