@import url(../all/Poppins/poppins.css);
@import url(myVid.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
  --clr: #2a73fe;
}
body {
  background: #0a0a0a;
}
.container {
  margin-top: 300px;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
}
.empty {
  width: 50%;
  text-align: center;
  color: #fff;
}
.empty a {
  border: 1px solid #55ff06;
  color: #55ff06;
  transition: 0.5s;
}
.empty:hover a {
  border: 2px solid #55ff06;
  color: #2a73fe;
  transition: 0.5s;
}
.links {
  position: relative;
  display: flex;
  width: 90%;
  height: auto;
  transition: 0.5s;
  color: #2a73fe;
}
.links form{
  position: absolute;
  top: 5px;
  right: 5px;
}
.links form .delete{
  width: 30px;
  aspect-ratio: 1;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  background: crimson;
  border-radius: 3px;
  cursor: pointer;
}
.links form .delete:hover{
  color: #000;
}

.links .asideVid {
  display: flex;
  border-radius: 5px;
  min-width: 200px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 5px  #fff;
  transition: 0.5s;
}
.links a {
  text-decoration: none;
  color: #2a73fe;
}
.links a img {
  object-fit: cover;
  width: 280px;
  height: 100%;
  aspect-ratio: 16/9;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 5px #000;
}
.links .vidInfos {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  font-weight: 500;
}
@media (prefers-color-scheme: light) {
  body {
    background: #fff;
  }
  .empty {
    color: #000;
  }
  .links .asideVid {
    box-shadow: inset 0 0 5px #000;
  }
  .links form .delete{
    color: #000;
  }
  .links form .delete:hover{
    color: #fff;
  }
}
@media (max-width: 540px) {
  .links {
    max-width: calc(100vw - 15px);
    transition: 0.5s;
  }
  .links a img {
    width: calc(100vw - 15px);
  }
  .asideVid {
    flex-direction: column;
    transition: 0.5s;
  }
  .links .vidInfos {
    text-align: left;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  @media (max-width: 400px) {
    .date {
      font-size: 0.7em;
    }
  }
}
