@import url(../icon.css);
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src:   url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    src:   url(../fonts/Poppins-Italic.ttf);
}
::selection{
    background: #00d0ff;
    color: #022323;
}
::-webkit-scrollbar{
    appearance: none;
    background: none;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    appearance: none;
    background: #287dfc;
    border-radius: 3px;
}
::-moz-scrollbar{
    appearance: none;
    -moz-appearance: none;
    background: none;
    width: 5px;
    height: 5px;
}
::-moz-scrollbar-thumb{
    appearance: none;
    -moz-appearance: none;
    background: #287dfc;
    border-radius: 3px;
}
.duraion-bar{
    position: absolute;
    width: var(--w);
    height: 3px;
    background: aqua;
    top: calc(100% - 3px);
    pointer-events: none;
}
.btn{
    position: relative;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 2px;
    color: #fff;
}
.btn:hover{
    opacity: 0.6;
}
.btn-info{
    background-color: #cef1f7;
    color: #02346e;
}
.btn-dark{
    background-color: #2d383a;
}
.btn-success{
    background-color: #2bff00;
}
.btn-primary{
    background-color: #2d81ff;
}
.btn-warning{
    background-color: #ffc107;
}
.btn-danger{
    background-color: #dc3545;
}
@media (prefers-color-scheme:light) {
    ::selection{
    background: #022323;
    color: #00d0ff;
    }
}
@media (max-width:600px) {
    ::-webkit-scrollbar{
        appearance: none;
        background: none;
        width: 2px;
        height: 2px;
    }
    ::-webkit-scrollbar-thumb{
        appearance: none;
        background: #287dfc;
        border-radius: 1px;
    }
    ::-moz-scrollbar{
        appearance: none;
        -moz-appearance: none;
        background: none;
        width: 2px;
        height: 2px;
    }
    ::-moz-scrollbar-thumb{
        appearance: none;
        -moz-appearance: none;
        background: #287dfc;
        border-radius: 1px;
    }
}